<%= form_with(model: [@hotel, @reservation]) do |form| %>
  <% if @reservation.errors.any? %>
    <div>
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>
      <ul>
        <% @reservation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :check_in_date %>
    <%= form.date_field :check_in_date %>
  </div>

  <div>
    <%= form.label :check_out_date %>
    <%= form.date_field :check_out_date %>
  </div>

  <div>
    <%= form.label :person_count %>
    <%= form.number_field :person_count, step: 1 %>
  </div>
  <%= form.hidden_field :hotel_id, value: @hotel.id %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
