<h1>レビュー詳細</h1>

<div>
  <p>評価: <strong><%= @review.evaluation %></strong></p>
  <p>タイトル: <%= @review.title %></p>
  <p>名前: <%= @review.name %></p>
  <p><strong><%= @review.description %></strong></p>
</div>

<div>
  <%= link_to "ホテル詳細", hotel_path(@hotel) %>
</div>